[Desktop Entry]
Type=Application
Name=Bibi Qt Reader
Comment=EPUB reader
Exec=BibiQtReader %f
Icon=BibiQtReader
Terminal=false
Categories=Office;Viewer;
MimeType=application/epub+zip;
